/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
.modal-title {
  font-size: 1.5rem;
  padding: 0 1rem;
}

.invalid-text {
  margin-top: 0.25rem;
  width: 100%;
  font-size: 0.857rem;
  color: #ea5455;
}

.avatar-bg {
  background-image: url("../images/elements/placeholder-profil.png");
  background-size: cover;
  height: 80px;
  width: 80px;
}

.carousel-img-bg {
  background-image: url("../images/elements/carousel-placeholder.jpg");
  background-size: cover;
  margin-top: 5px;
  width: 233px;
  height: 100px;
}

.loading-img {
  position: absolute;
  top: 0;
  width: 231px;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.79);
}

input[type='text']:disabled,
input[type='email']:disabled,
input[type='number']:disabled {
  background: #fafafa;
  border-color: #e9e9e9;
  color: #353535;
}

.dark-layout input[type='text']:disabled,
.dark-layout input[type='email']:disabled,
.dark-layout input[type='number']:disabled {
  background: #283046;
  color: #ffffff;
}

.sidebar-toggler {
  padding: 0;
}

.sidebar-toggler:active, .sidebar-toggler:focus {
  outline: 0;
}

.sidebar-toggler .text {
  color: #7367f0;
  font-size: 0.9rem;
  line-height: 1.5;
  padding: 3px 9px;
  border-radius: 5px;
  border: 1px solid #a6a1dd;
}

.sidebar-toggler .text i,
.sidebar-toggler .text svg {
  height: 1.3rem;
  width: 1.3rem;
  font-size: 1.3rem;
  margin-right: 0.3rem;
}

.sidebar-shop {
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

/* The ribbon */
.ribbon {
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: white;
  left: 10px;
  top: 0;
}

.ribbon:before {
  content: '';
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: -11px;
  border-left: 11px solid white;
  border-right: 11px solid white;
  border-bottom: 11px solid transparent;
}

#modaz-homepage h6 {
  background-color: rgba(115, 103, 240, 0.1);
  border-radius: 3px;
}

#modaz-homepage .no-carousel-img {
  border: 1px solid #ececec;
  background-image: url("../images/elements/no-carousel.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  aspect-ratio: 64/25;
}

#modaz-homepage .no-carousel-img h4 {
  padding: 1rem 1.5rem;
  margin: 1rem;
  text-align: center;
  border-radius: 10px;
  background-color: #fafafaa6;
}

@media screen and (max-width: 650px) {
  #modaz-homepage .no-carousel-img {
    aspect-ratio: 7/9;
  }
}

#modaz-homepage .homepage-carousel .carousel-inner,
#modaz-homepage .homepage-carousel .carousel-item {
  height: 100%;
  width: 100%;
}

#modaz-homepage .homepage-carousel .carousel-item img {
  height: 100%;
  width: 100%;
  aspect-ratio: 64/25;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 650px) {
  #modaz-homepage .homepage-carousel .carousel-item img {
    aspect-ratio: 7/9;
  }
}

#modaz-homepage .homepage-carousel .carousel-control-next-icon,
#modaz-homepage .homepage-carousel .carousel-control-prev-icon {
  background-color: rgba(0, 0, 0, 0.39);
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
}

#modaz-homepage .homepage-carousel .carousel-indicators li {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.575);
  width: 11px;
  height: 11px;
  margin: 0 3.7px 0 3.7px;
  border: 2px solid #f1f1f1;
  border-radius: 50%;
}

#modaz-homepage .homepage-carousel .settings-icon-right {
  position: absolute;
  right: 5%;
  top: 3%;
  z-index: 100;
  cursor: pointer;
}

#modaz-homepage .homepage-carousel .settings-icon-right svg {
  padding: 0.3rem;
  background-color: #99999b;
  border-radius: 50%;
}

#modaz-homepage .homepage-carousel .settings-icon-left {
  position: absolute;
  left: 5%;
  top: 3%;
  z-index: 100;
  cursor: pointer;
}

#modaz-homepage .homepage-carousel .settings-icon-left svg {
  padding: 0.3rem;
  background-color: #99999b;
  border-radius: 50%;
}

#modaz-homepage .homepage-carousel .carousel-title {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 4rem;
}

#modaz-homepage .homepage-carousel .carousel-title .titles {
  margin-bottom: 1rem;
  border-radius: 3px;
}

#modaz-homepage .homepage-carousel .carousel-title .titles h1 {
  color: #e9e9e9;
  font-size: 1.3rem;
  margin-bottom: 0;
}

#modaz-homepage .homepage-carousel .carousel-caption-wrapper {
  background-color: #99999b;
  padding: 0.15rem 1rem 0.15rem 0.5rem;
  margin-right: -0.5rem;
  border-radius: 3px;
  color: #fcfcfc;
}

#modaz-homepage .sortable-carousel-img .draggable {
  position: relative;
}

#modaz-homepage .sortable-carousel-img .draggable img {
  cursor: -webkit-grab;
  cursor: grab;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  aspect-ratio: 64/25;
}

#modaz-homepage .sortable-carousel-img .draggable .sotable-img-overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  top: 5%;
  font-weight: bold;
  right: 5%;
  padding: 0.1rem 0.5rem;
  border-radius: 50%;
  color: white;
  background-color: black;
}

#homepage-section img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

#homepage-section button {
  border-radius: 0;
}

#homepage-section button:hover {
  background-color: #7367f0 !important;
  border: 2px solid #7367f0 !important;
  -webkit-box-shadow: 0 0 !important;
          box-shadow: 0 0 !important;
}

#homepage-section .img-wrapper {
  position: relative;
}

#homepage-section .img-parallax {
  position: relative;
}

#homepage-section .img-parallax img {
  min-height: 250px;
}

#homepage-section .img-box .mb-1 {
  max-width: 370px;
}

#homepage-section .img-overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#homepage-section .img-overlay:hover {
  background-color: rgba(115, 103, 240, 0.1);
}

#product-infos .product-img-bg {
  background-image: url("../images/elements/carousel-placeholder.jpg");
  background-size: 133px 133px;
  width: 133px;
  height: 133px;
}

#product-infos .product-img {
  cursor: pointer;
  margin-right: 7px;
  margin-bottom: 7px;
  border-radius: 3px;
}

#product-infos .product-img:hover + .delete-product-img {
  display: block;
}

#product-infos .delete-product-img {
  position: absolute;
  display: none;
  border: none;
  right: 3px;
  top: -10px;
  border-radius: 50%;
  padding: 1px 3px;
  color: #fafafa;
  cursor: pointer;
  background-color: #ea5455;
}

#product-infos .delete-product-img:hover {
  display: block;
}

#product-infos .delete-product-img:focus,
#product-infos .delete-product-img svg:focus {
  outline: none;
}

#product-infos .zoom-image-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#product-infos .zoom-image-overlay .zoom-image-wrapper {
  position: relative;
  background-color: #fafafa;
  border-radius: 5px;
  padding: 2rem;
}

#product-infos .zoom-image-overlay .zoom-image-wrapper .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  padding: 1rem;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid lightgrey;
}

#product-infos .zoom-image-overlay .zoom-image-wrapper .form-group select {
  width: 55px;
  margin-left: 1rem;
}

#product-infos .zoom-image-overlay .zoom-image-wrapper img {
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 3px;
  max-width: 70vw;
  max-height: 70vh;
}

#product-infos .zoom-image-overlay .zoom-image-wrapper .close-zoom {
  position: absolute;
  right: -15px;
  top: -15px;
  border-radius: 50%;
  padding: 3px;
  color: #ffffff;
  cursor: pointer;
  background-color: #818181;
}

#product-infos .custom-control {
  z-index: 0 !important;
}

#product-infos .reset-rating {
  border: 1px solid #bbbbbb;
  color: #838383;
  padding: 0 0.5rem;
  border-radius: 13px;
  margin-left: auto;
}

#product-infos .reset-rating:hover {
  background-color: #7367f0;
  color: #fafafa;
  border-color: #7367f0;
}

#product-infos .reset-rating:focus {
  outline: none;
}

#product-infos .product-colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#product-infos .product-colors .p-color-wrapper {
  position: relative;
}

#product-infos .product-colors .p-color-wrapper .p-color {
  width: 33px;
  height: 33px;
  margin-right: 0.7rem;
  margin-bottom: 0.7rem;
  cursor: pointer;
  border-radius: 100%;
}

#product-infos .product-colors .p-color-wrapper .color-cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1;
}

#product-infos .product-colors .p-color-wrapper .chrome-picker {
  position: absolute;
  bottom: 79px;
  z-index: 1;
}

#product-infos .product-colors .p-color-wrapper .delete-color-btn {
  position: absolute;
  bottom: 60px;
  width: 225.5px;
  color: #ea5455;
  z-index: 1;
  border: 1px solid #ea545471;
  text-align: center;
  padding: 3px 0;
  background-color: #fdf1f1;
  border-radius: 0 0 3px 3px;
}

#product-infos .product-colors .p-color-wrapper .delete-color-btn:focus {
  outline: none;
}

#product-infos .product-colors .p-color-wrapper .delete-color-btn:after {
  content: ' ';
  position: absolute;
  left: 3px;
  bottom: -13px;
  border-top: 13px solid #ea5455;
  border-right: 13px solid transparent;
  border-left: 13px solid transparent;
  border-bottom: none;
}

#product-infos .add-color-btn {
  margin-left: 1rem;
  border: 2px solid #babfc7;
  border-radius: 3px;
  margin-bottom: 0.7rem;
}

#product-infos .add-color-btn svg {
  color: #848990;
}

#product-infos .add-color-btn:hover {
  background-color: #7367f0;
  border-color: #7367f0;
}

#product-infos .add-color-btn:hover svg {
  color: white;
}

#product-infos .add-color-btn:focus,
#product-infos .add-color-btn svg:focus {
  outline: none;
}

#product-infos .input-group-text {
  height: auto;
  padding: 0.438rem 1rem;
  border: 1px solid #d8d6de;
  border-radius: 0.357rem 0 0 0.357rem;
}

#product-cards .free-shipping {
  position: absolute;
  top: 0;
  left: 0;
}

#product-cards .product-checkbox {
  position: absolute;
  top: 0;
  right: -5px;
}

#orders-table .status-dropdown {
  background-color: #474747;
}

#orders-table .status-dropdown .dropdown-item {
  color: white;
}

#orders-table .status-dropdown .dropdown-item:hover {
  background-color: #3a3a3a;
}

#orders-table .status-dropdown:after {
  content: ' ';
  position: absolute;
  left: 30px;
  top: -9px;
  border-top: none;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  border-bottom: 9px solid #474747;
}

#order-sidebar .product-quantity-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 33px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#order-sidebar .product-quantity-wrapper img {
  width: 50px;
  height: 33px;
  -o-object-fit: contain;
     object-fit: contain;
}

#order-sidebar .product-quantity-wrapper input {
  width: 50px;
  border: 1px solid #e6e6e6;
  border-right: none;
  text-align: center;
  border-radius: 0.357rem 0 0 0.357rem;
  padding-right: 13px;
}

#order-sidebar .product-quantity-wrapper input:focus {
  outline: none;
  border-color: #c9c9c9;
}

#order-sidebar .product-quantity-wrapper .inc-btn-wrapper {
  position: absolute;
  right: 13px;
  height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#order-sidebar .product-quantity-wrapper .inc-btn-wrapper .svg {
  border: 1px solid #e6e6e6;
  border-bottom: none;
  cursor: pointer;
}

#order-sidebar .product-quantity-wrapper .inc-btn-wrapper .svg:hover {
  background-color: #e6e6e6;
  border: 1px solid #bdbdbd;
}

#order-sidebar .product-quantity-wrapper .inc-btn-wrapper .svg1 {
  border-top: none;
}

#order-sidebar .total-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  margin: 1rem 0;
}

#order-sidebar .total-price span {
  border: 1px solid lightgrey;
  border-radius: 3px;
  background-color: whitesmoke;
  padding: 3px 7px;
  margin-left: 10px;
}

#blog .post-card {
  position: relative;
}

#blog .post-btn {
  font-weight: 500;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 3px 13px;
  color: #736f80;
  cursor: pointer;
}

#blog .post-btn-delete:hover {
  background-color: #ea5455;
  color: white;
}

#blog .post-btn-edit:hover {
  background-color: #ff9f43;
  color: white;
}

#blog .post-btn-view:hover {
  background-color: #7367f0;
  color: white;
}

#blog .post-checkbox {
  position: absolute;
  top: 0;
  right: -5px;
}

#blog .blog-category-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
}

#blog .blog-category-filter label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 1rem;
}

#blog .blog-category-filter label input {
  margin-right: 10px;
  border: 1px solid #c3c3c3 !important;
}

.blog-searchbar .input-group {
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14);
  border-radius: 0.3rem;
}

.search-post,
.blog-searchbar .input-group-text {
  height: 48px;
  border: none;
  font-size: 0.95rem;
  padding-left: 1.25rem;
}

.search-post::-webkit-input-placeholder,
.blog-searchbar .input-group-text::-webkit-input-placeholder {
  font-size: 0.95rem;
}

.search-post:-ms-input-placeholder,
.blog-searchbar .input-group-text:-ms-input-placeholder {
  font-size: 0.95rem;
}

.search-post::-ms-input-placeholder,
.blog-searchbar .input-group-text::-ms-input-placeholder {
  font-size: 0.95rem;
}

.search-post::placeholder,
.blog-searchbar .input-group-text::placeholder {
  font-size: 0.95rem;
}
