<!-- HEADER -->
<%- include('./partials/header.ejs') %>
<!-- END HEADER -->

<section class="flat-row flat-error">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="wrap-error text-center">
          <div class="header-error">404</div>
          <div class="content-error">
            <h2>Oups, page non trouvée !</h2>
            <p>
              Il semble que rien n'ait été trouvé à cet endroit. Cliquez
              <a href="/" class="btn-error">ici</a> pour retouner à la page
              d'accueil
            </p>
          </div>
        </div>
        <!-- /.wrap-error -->
      </div>
      <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.flat-row -->

<!-- NEWSLETTER -->
<%- include('./partials/newsletter.ejs') %>
<!-- END NEWSLETTER -->

<!-- FOOTER -->
<%- include('./partials/footer.ejs') %>
