<!-- HEADER -->
<%- include('./partials/header.ejs') %>
<!-- END HEADER -->

<!-- Page title -->
<div class="page-title parallax parallax1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading">
          <h1 class="title">Profil</h1>
        </div>
        <div class="breadcrumbs">
          <ul>
            <li><a href="/">Accueil</a></li>
            <li>Compte</li>
            <li>Profil</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container"></div>

<!-- FOOTER -->
<%- include('./partials/footer.ejs') %>
