<!-- HEADER -->
<%- include('./partials/header.ejs') %>
<!-- END HEADER -->

<section class="flat-row flat-coming-soon parallax parallax2">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="wrap-coming-soon text-center">
          <div class="header-coming-soon">
            <h2 class="sup-title">Nouvelle collection</h2>
            <div class="title">Bientôt disponible</div>
          </div>
          <div class="wrap-countdown">
            <div class="countdown"></div>
          </div>
          <div class="button flat-button">
            <button type="button" class="bg-white">RETOUR À L'ACCUEIL</button>
            <button type="button">POURSUIVRE LES ACHATS</button>
          </div>
        </div>
        <!-- /.wrap-coming-soon -->
      </div>
      <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<!-- NEWSLETTER -->
<%- include('./partials/newsletter.ejs') %>
<!-- END NEWSLETTER -->

<!-- FOOTER -->
<%- include('./partials/footer.ejs') %>
