<!-- HEADER -->
<%- include('./partials/header.ejs') %>
<!-- END HEADER -->

<!-- Page title -->
<div class="page-title parallax parallax1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading">
          <h1 class="title">FAQ</h1>
        </div>
        <div class="breadcrumbs">
          <ul>
            <li><a href="/">Accueil</a></li>
            <li>Faq</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="flat-row">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="flat-title">
          <h2>Commande & paiement</h2>
        </div>
        <div class="flat-accordion">
          <div class="flat-toggle">
            <div class="toggle-title active">
              Q: Comment puis-je modifier ou annuler ma commande ?
            </div>
            <div class="toggle-content">
              <p>
                S'il est encore tôt dans le processus de commande, vous pouvez
                nous contacter pour pour savoir si nous pouvons modifier les
                articles commandés ou changer votre l'adresse de livraison. Vous
                pouvez toujours passer une deuxième commande pour articles
                supplémentaires que vous souhaitez ou déposer une demande
                d'annulation et et passer une nouvelle commande.
              </p>
            </div>
          </div>
          <div class="flat-toggle">
            <div class="toggle-title">
              Q: J'ai passé une commande, mais je n'ai jamais reçu d'e-mail de
              confirmation.
            </div>
            <div class="toggle-content">
              <p>
                Si vous n'avez pas reçu d'e-mail de mise à jour concernant votre
                commande, il est probable que les e-mails aient été marqués
                comme spam. il est probable que les courriels aient été marqués
                comme spam. Certains fournisseurs de messagerie peuvent marquer
                nos courriels comme spam ou les bloquer complètement. Veillez à
                vérifier votre dossier de spam pour les emails concernant votre
                commande et assurez-vous d'ajouter Threadless à votre liste de
                sécurité.
              </p>
            </div>
          </div>
          <div class="flat-toggle">
            <div class="toggle-title">
              Q: Quels sont les moyens de paiement acceptés ?
            </div>
            <div class="toggle-content">
              <ol>
                <li>- Espèces</li>
                <li>- Cartes de débit</li>
                <li>- Chèques</li>
                <li>- Cartes de crédit</li>
                <li>- Paiements mobiles</li>
                <li>- Virements bancaires électroniques</li>
              </ol>
            </div>
          </div>
          <div class="flat-toggle">
            <div class="toggle-title">
              Q: Je suis un client international et je ne sais pas combien je
              vais devoir payer pour mon achat.
            </div>
            <div class="toggle-content">
              <p>
                Les frais de transaction à l'étranger (FX) sont une surcharge
                sur votre facture de carte de crédit. carte de crédit lorsque
                vous effectuez un achat qui passe par une banque étrangère.
                passe par une banque étrangère. Ces frais sont facturés par de
                nombreux émetteurs de cartes de crédit. émetteurs de cartes de
                crédit, allant généralement de 1 % à 3 % du montant de la
                transaction
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="flat-title">
          <h2>Suivi de votre commande</h2>
        </div>
        <div class="flat-accordion">
          <div class="flat-toggle">
            <div class="toggle-title">
              Q: Comment puis-je vérifier l'état de ma commande ?
            </div>
            <div class="toggle-content">
              <p>
                Pour vérifier l'état d'une commande en ligne, connectez-vous à
                votre compte et sélectionnez Historique des activités. Une fois
                votre commande expédiée, un numéro de suivi sera attribué et
                apparaîtra dans les informations relatives à votre commande. de
                votre commande. Vous pouvez alors suivre votre commande à l'aide
                de votre numéro de suivi.
              </p>
            </div>
          </div>
          <div class="flat-toggle">
            <div class="toggle-title">
              Q: Je suis un client international et je souhaite retourner un
              produit.
            </div>
            <div class="toggle-content">
              <ol>
                <li>- Fournissez une étiquette prépayée à vos clients</li>
                <li>- Les radier et laisser le client les garder</li>
                <li>
                  - Laisser le client renvoyer les articles et attendre le
                  remboursement des frais de port
                </li>
                <li>
                  - Recourir aux services d'un fournisseur de solutions de
                  retour
                </li>
              </ol>
            </div>
          </div>
          <div class="flat-toggle">
            <div class="toggle-title">
              Q: Mes informations de suivi montrent que mon colis a été livré,
              mais je ne l'ai jamais reçu.
            </div>
            <div class="toggle-content">
              <p>
                Contactez votre bureau de poste USPS local. Assurez-vous de
                contacter votre bureau de poste local et non la ligne
                d'assistance USPS. bureau de poste LOCAL, et non la ligne
                d'assistance USPS. Votre bureau de poste local local sera en
                mesure de fournir un service plus rapide et de meilleure
                qualité. Demandez qui a livré le colis et demandez les détails
                de la livraison de ce jour-là.
              </p>
            </div>
          </div>
          <div class="flat-toggle">
            <div class="toggle-title">
              Q: Combien de temps faut-il pour traiter les retours ?
            </div>
            <div class="toggle-content">
              <p>
                L'IRS émet généralement les remboursements en moins de 21 jours.
                Vous pouvez utiliser l'outil IRS Where's My Refund ? ou appeler
                l'IRS au 800-829-1954 pour vérifier l'état de votre
                remboursement, à partir de 24 heures après votre dépôt
                électronique. heures après votre dépôt électronique. L'IRS
                fournira une date de remboursement dès que votre déclaration de
                revenus et votre remboursement auront été approuvés.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- NEWSLETTER -->
<%- include('./partials/newsletter.ejs') %>
<!-- END NEWSLETTER -->

<!-- FOOTER -->
<%- include('./partials/footer.ejs') %>
