<!-- HEADER -->
<%- include('./partials/header.ejs') %>
<!-- END HEADER -->

<!-- Page title -->
<div class="page-title parallax parallax1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading">
          <h1 class="title">FAQs</h1>
        </div>
        <div class="breadcrumbs">
          <ul>
            <li><a href="/">Home</a></li>
            <li>Faq</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="flat-row">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="flat-title">
          <h2>Ordering & Payment</h2>
        </div>
        <div class="flat-accordion">
          <div class="flat-toggle">
            <div class="toggle-title active">
              Q: How do I change or cancel my order?
            </div>
            <div class="toggle-content">
              <p>
                If it's still early in the order process, you can contact us to
                find out if we can edit your ordered items or change your
                delivery address. You can always place a second order for any
                additional items you want or file a cancellation request and
                place a new order.
              </p>
            </div>
          </div>
          <div class="flat-toggle">
            <div class="toggle-title">
              Q: I placed an order, but never received a confirmation email.
            </div>
            <div class="toggle-content">
              <p>
                If you haven't received any email updates about your order, it
                is likely the emails were marked as spam. Some email providers
                may mark our emails as spam or completely block them. Be sure to
                check your spam folder for emails about your order and make sure
                to add Threadless to your safe list
              </p>
            </div>
          </div>
          <div class="flat-toggle">
            <div class="toggle-title">
              Q: What payment methods do you accept?
            </div>
            <div class="toggle-content">
              <ol>
                <li>- Cash</li>
                <li>- Debit cards</li>
                <li>- Checks</li>
                <li>- Credit cards</li>
                <li>- Mobile payments</li>
                <li>- Electronic bank transfers</li>
              </ol>
            </div>
          </div>
          <div class="flat-toggle">
            <div class="toggle-title">
              Q: I am an international customer and I am not sure how much I'll
              be charged for a purchase
            </div>
            <div class="toggle-content">
              <p>
                A foreign transaction (FX) fee is a surcharge on your credit
                card bill that appears when you make a purchase that either
                passes through a foreign bank. This fee is charged by many
                credit card issuers, typically ranging from 1% to 3% of the
                transaction
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="flat-title">
          <h2>Tracking Your Order</h2>
        </div>
        <div class="flat-accordion">
          <div class="flat-toggle">
            <div class="toggle-title">
              Q: How do I check on the status of my order?
            </div>
            <div class="toggle-content">
              <p>
                To check the status of an online order, login to your account
                and select Activity History. Once your order ships, a tracking
                number will be assigned and it will appear in your order
                information. You can then track your order with your tracking
                number.
              </p>
            </div>
          </div>
          <div class="flat-toggle">
            <div class="toggle-title">
              Q: I am an international customer and I want to return an item.
            </div>
            <div class="toggle-content">
              <ol>
                <li>- Provide a pre-paid label to your customers</li>
                <li>- Write them off and let the customer keep them</li>
                <li>
                  - Let the customer post the items back and wait for their
                  postage refund
                </li>
                <li>- Engage the services of a returns solution provider</li>
              </ol>
            </div>
          </div>
          <div class="flat-toggle">
            <div class="toggle-title">
              Q: My tracking info shows my package was delivered, but I never
              received it.
            </div>
            <div class="toggle-content">
              <p>
                Contact your local USPS post office. Make sure you contact your
                LOCAL post office, and not the USPS hotline. Your local post
                office will be able to provide quicker, and better service. Ask
                who delivered the package, and ask for the details of that day's
                delivery.
              </p>
            </div>
          </div>
          <div class="flat-toggle">
            <div class="toggle-title">
              Q: How long does it take to process returns?
            </div>
            <div class="toggle-content">
              <p>
                The IRS typically issues refunds in less than 21 days. You can
                use the IRS Where's My Refund? tool or call the IRS at
                800-829-1954 to check on the status of your refund, beginning 24
                hours after you e-file. The IRS will provide an actual refund
                date as soon as your tax return and refund are approved.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- NEWSLETTER -->
<%- include('./partials/newsletter.ejs') %>
<!-- END NEWSLETTER -->

<!-- FOOTER -->
<%- include('./partials/footer.ejs') %>
